@import "tailwindcss";
@import "tw-animate-css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.3117 0.0514 251.2646);
  --card: oklch(0.9848 0 0);
  --card-foreground: oklch(0.3117 0.0514 251.2646);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3117 0.0514 251.2646);
  --primary: oklch(0.6944 0.1804 45.8288);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.3596 0.0619 251.3668);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9686 0.0035 247.8590);
  --muted-foreground: oklch(0.5433 0.0456 250.3755);
  --accent: oklch(0.8515 0.1733 90.9228);
  --accent-foreground: oklch(0.2619 0.0404 251.1202);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9207 0.0089 249.7405);
  --input: oklch(0.9207 0.0089 249.7405);
  --ring: oklch(0.6944 0.1804 45.8288);
  --chart-1: oklch(0.6944 0.1804 45.8288);
  --chart-2: oklch(0.3596 0.0619 251.3668);
  --chart-3: oklch(0.8515 0.1733 90.9228);
  --chart-4: oklch(0.7737 0.1295 194.8096);
  --chart-5: oklch(0.6231 0.2272 8.3341);
  --sidebar: oklch(0.3596 0.0619 251.3668);
  --sidebar-foreground: oklch(0.9848 0 0);
  --sidebar-primary: oklch(0.6944 0.1804 45.8288);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.4063 0.0643 251.1726);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.4513 0.0730 251.2193);
  --sidebar-ring: oklch(0.6944 0.1804 45.8288);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-color: hsl(211, 45%, 20%);
  --shadow-2xs: 0px 4px 10px 0px hsl(211 45% 20% / 0.04);
  --shadow-xs: 0px 4px 10px 0px hsl(211 45% 20% / 0.04);
  --shadow-sm: 0px 4px 10px 0px hsl(211 45% 20% / 0.08), 0px 1px 2px -1px hsl(211 45% 20% / 0.08);
  --shadow: 0px 4px 10px 0px hsl(211 45% 20% / 0.08), 0px 1px 2px -1px hsl(211 45% 20% / 0.08);
  --shadow-md: 0px 4px 10px 0px hsl(211 45% 20% / 0.08), 0px 2px 4px -1px hsl(211 45% 20% / 0.08);
  --shadow-lg: 0px 4px 10px 0px hsl(211 45% 20% / 0.08), 0px 4px 6px -1px hsl(211 45% 20% / 0.08);
  --shadow-xl: 0px 4px 10px 0px hsl(211 45% 20% / 0.08), 0px 8px 10px -1px hsl(211 45% 20% / 0.08);
  --shadow-2xl: 0px 4px 10px 0px hsl(211 45% 20% / 0.20);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1656 0.0184 250.3400);
  --foreground: oklch(0.9848 0 0);
  --card: oklch(0.2097 0.0286 250.9015);
  --card-foreground: oklch(0.9848 0 0);
  --popover: oklch(0.1880 0.0236 250.7790);
  --popover-foreground: oklch(0.9848 0 0);
  --primary: oklch(0.7512 0.1438 49.3218);
  --primary-foreground: oklch(0.2097 0.0286 250.9015);
  --secondary: oklch(0.3132 0.0347 250.6271);
  --secondary-foreground: oklch(0.9848 0 0);
  --muted: oklch(0.2633 0.0272 250.5547);
  --muted-foreground: oklch(0.7590 0.0211 249.9000);
  --accent: oklch(0.8515 0.1733 90.9228);
  --accent-foreground: oklch(0.2097 0.0286 250.9015);
  --destructive: oklch(0.3901 0.1297 25.5736);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.3132 0.0347 250.6271);
  --input: oklch(0.3132 0.0347 250.6271);
  --ring: oklch(0.7512 0.1438 49.3218);
  --chart-1: oklch(0.7512 0.1438 49.3218);
  --chart-2: oklch(0.3596 0.0619 251.3668);
  --chart-3: oklch(0.8515 0.1733 90.9228);
  --chart-4: oklch(0.7737 0.1295 194.8096);
  --chart-5: oklch(0.6231 0.2272 8.3341);
  --sidebar: oklch(0.1880 0.0236 250.7790);
  --sidebar-foreground: oklch(0.8814 0.0101 249.7571);
  --sidebar-primary: oklch(0.7512 0.1438 49.3218);
  --sidebar-primary-foreground: oklch(0.2097 0.0286 250.9015);
  --sidebar-accent: oklch(0.3132 0.0347 250.6271);
  --sidebar-accent-foreground: oklch(0.9848 0 0);
  --sidebar-border: oklch(0.2633 0.0272 250.5547);
  --sidebar-ring: oklch(0.7512 0.1438 49.3218);
  --font-sans: Inter, system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0px 6px 12px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 6px 12px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 6px 12px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0px 6px 12px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 6px 12px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 6px 12px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 6px 12px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 6px 12px 0px hsl(0 0% 0% / 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
